.PanelHeaderLogo{
    height: 80%;
    margin-top: 5px;
}

.Panel .Panel__in {
    background-color: #ffffff;
}

.main-tree img {
    height: 75vh;
}

.main-tree {
    text-align: center;
}

.bg-blue {
    background: #D0DDED;
    border-radius: 30px;
    color: #333333;
}

.main-status {
    width: 100%;
}